
data/FAST/00README

data/FAST/aegis_3dhst.v4.1.param

data/FAST/cosmos_3dhst.v4.1.test.cat

data/FAST/cosmos_3dhst.v4.1.test.fout

data/FAST/cosmos_3dhst.v4.1.test.translate

data/FAST/cosmos_3dhst.v4.1.test.zout

data/FAST/master_catalogs/cosmos_3dhst.v4.1.test.zout

data/FAST/master_catalogs/cosmos_3dhst.v4.1.test.cat

*.pyc

*.png

*mcmc

*model
*.pickle
plots/
remote/
results/
